<div class="row mb-2">
    <div class="col-md-4">
        <input type="date" @bind="startDate" class="form-control"/>
    </div>
    <div class="col-md-4">
        <input type="date" class="form-control" @bind="endDate"/>
    </div>

     <div class="col-md-4">
        <button type="button" @onclick="selectDate" class="btn btn-info">
            Search
        </button>

         <button type="button" @onclick="HandleLoadAll" class="btn btn-secondary">
            All
        </button>
    </div> 

</div>

@code {
    DateTime? startDate;
    DateTime? endDate;

    [Parameter]
    public EventCallback<FilterModel> OnSelectDate{ get; set; }
    [Parameter]
    public Action OnLoadAll { get; set; }
    async Task selectDate()
    {
        var filter = new FilterModel
            {
                StartDate = startDate,
                EndDate = endDate
            };
        await OnSelectDate.InvokeAsync(filter);
       
    }

    void HandleLoadAll()
    {
        OnLoadAll.Invoke();
        startDate = null;
        endDate = null;
    }
}
